<div style="">
	<form id="registerform">
		<table style="width:600px;border-collapse:collapse;border:none;">
			<tr>
				<td colspan="2" style=""><h2>%%N_EW_ACCOUNT%%</h2></td>
			<tr>
			<tr>
				<td colspan="2" id="msg" style="color:red;"></td>
			<tr>
				<td><label for="email">%%E_MAIL%%</label></td>
				<td><input type="text" id="email" /></td>
			</tr>
			<tr>
				<td><label for="password">%%P_ASSWORD%%</label></td>
				<td><input type="password" id="password" /></td>
			</tr>
			<tr>
				<td><label for="password2">%%R_ETYPE_PASSWORD%%</label></td>
				<td><input type="password" id="password2" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" class="submitbutton" value="%%N_EW_ACCOUNT%%" /></td>
			</tr>
		</table>
	</form>
</div>