<div id="loginDiv" style="background:white; border:1px solid black; padding:30px; position:absolute; left:150px;top:150px;">
	<form id="loginform">
		<table style="width:600px;border-collapse:collapse;border:none;">
			<tr>
				<td colspan="2" id="msg" style="color:red;"></td>
			<tr>
				<td><label for="email">%%E_MAIL%%</label></td>
				<td><input type="text" id="email" /></td>
			</tr>
			<tr>
				<td><label for="password">%%P_ASSWORD%%</label></td>
				<td><input type="password" id="password" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" class="submitbutton" value="%%L_OGIN%%" /></td>
			</tr>
			<tr>
				<td colspan="2"><a href="#" id="forgotPassword">%%F_ORGOTPWD%%</a></td>
			</tr>
			<tr>
				<td colspan="2"><a href="#" id="registerAccount">%%N_EW_ACCOUNT%%</a></td>
			</tr>
		</table>
	</form>
</div>
	